<p>Bonjour {{ recipientFirstName }},</p>
<p>{{ performerFullName }} a rejeté la demande de congé de {{ applicantFullName }}. Les détails du congé :</p>
<table style="text-align:left">
    <thead>
    <tr>
        <th>Date(s)</th>
        <th>Durée (Heures)</th>
    </tr>
    </thead>
    <tbody>
    {% for leaveDetail in leaveDetails %}
        <tr>
            <td style="padding-right:12px;">{{ leaveDetail['date'] }}</td>
            <td>{{ leaveDetail['duration'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Type de congé : {{ leaveType }}</p>
{% if leaveRequestComments %}
<p>Commentaires :</p>
<table style="text-align:left">
    <thead>
    <tr>
        <th style="padding-right:12px;">Date et Heure</th>
        <th style="padding-right:12px;">Nom</th>
        <th>Commentaire</th>
    </tr>
    </thead>
    <tbody>
    {% for leaveRequestComment in leaveRequestComments %}
    <tr>
        <td style="padding-right:12px;">{{ leaveRequestComment['date'] }} {{ leaveRequestComment['time'] }}</td>
        <td style="padding-right:12px;">{{ leaveRequestComment['n
